* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}
 body > aside {
  box-sizing: border-box;
  position: fixed;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color:rgb(0, 173, 238, 0.4);
  height:100%;
  width: 200px;

}
body > aside > img {
  height: 120px;
  margin: 35px
}
body > main {
  
  margin-left: 200px;
  
}
body > aside > nav > ul > li {
text-align: center;
text-transform: uppercase;
border-bottom-color:rgba(0, 173, 238, 0.4);
border-bottom-style: solid;
border-bottom-width: 1px;
}
body > aside > nav > ul > li > a {
  font-weight: bold;
  color: #00ADEE;
  text-decoration: none;
}
body > aside > nav > ul > li:first-child {
text-decoration: underline;
}
body > aside > nav > Ul > li {
  width:10em;
  margin: 20px;
  list-style: none;
  padding: 10px;
}
main > header > img {
  height:100px;
  margin: 15px;
}
.banner{
  width:100%;
  padding-left: 15px;
  padding-right: 15px;
}
main > section > div {
  width: 33%;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
main {
  padding-right: 20px;
  padding-left: 20px;
}
div#what-we-do h2{
  color: #8CC36F;
}
section > div#our-work h2 {
  color: #8CC36F;
}
section > div#our-work {
  box-sizing: border-box;
  border-left-style: solid;
  border-left-color: rgba(170, 239, 135, 0.8);
  border-left-width: 1px;
}
div#contact-us h2 {
  color: #8CC36F;
  
}
div#contact-us {
  box-sizing: border-box;
  border-left-style: solid;
  border-left-color: rgba(170, 239, 135, 0.8);
  border-left-width: 1px;
}
div > h2 > i{
  padding: 13px;
  padding-top: 15px;

}
 #what-we-do h2, #our-work h2 {
border: 1px rgba(170, 239, 135, 0.8) ;
 }